# == DB ==
PORT=
APP_ORIGIN=

# == DB ==
DATABASE_URL=


# == Auth ==
## Only string. Example: 15m or 7d
JWT_ACCESS_SECRET=
JWT_ACCESS_TTL=
JWT_REFRESH_SECRET=
JWT_REFRESH_TTL=

# == Rate limiting ==
## Only numbers. Example: 60000 or 5
THROTTLE_GLOBAL_TTL=
THROTTLER_GLOBAL_LIMIT=
THROTTLE_AUTH_TTL=
THROTTLER_AUTH_LIMIT=
